---
import 'aos/dist/aos.css';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Kailand">
    <div class="h-screen flex flex-col items-center justify-center">
        <h3 class="text-center, text-white text-7xl font-bold mb-32" data-aos="fade-zoom-in" data-aos-delay="200">
            Error 404
        </h3>
        <p class="text-center, text-white text-3xl font-bold content-center" data-aos="fade-zoom-in" data-aos-delay="200">
            Error al cargar este recurso, no estas autorizado, <a href="/" class="text-blue-500">Volver</a>.
        </p>
    </div>
    <script src="../js/main.js"> </script>
</Layout>