---
import 'aos/dist/aos.css';
import Layout from '../layouts/Layout.astro';
---

<Layout url='https://www.kailand.es/discord' title="Kailand: Discord" description='Descubre Kailand en nuestro servidor de discord'>
    <div class="h-screen flex flex-col items-center justify-center">
        <p class="text-center, text-white text-3xl font-bold content-center" data-aos="fade-zoom-in" data-aos-delay="200">
            ¡Descubre Kailand!, Redirigiendo a url de invitacion de discord...
        </p>
    </div>
    <script src="../js/main.js"> </script>
    <script>
        window.onload = () => {
            window.location.href = "https://discord.com/invite/chwAE86T6W";
        }
    </script>
</Layout>