---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import NavBar from '../components/NavBar.astro';
import ModalPolicies from '../components/react/ModalPolicies.jsx';
import ButtonScrollDownloads from '../components/react/ButtonScrollDownloads';

import 'aos/dist/aos.css';
---

<Layout title="Kailand V - Zona de descargas">
	<NavBar />
	<main>
		<div class="h-20"></div>
		<div class="h-0 w-full fixed top-12 left-0 flex justify-end p-5 z-50" id="modal">
			<ModalPolicies client:load href="#" />
		</div>
		<div class="w-full fixed h-full top-0 left-0 flex items-end p-5 z-0">
			<div class="w-full justify-start">
				<ButtonScrollDownloads client:load>
			</div>
			<div class="w-full justify-end flex">
				<ButtonScrollDownloads client:load>
			</div>
		</div>
		<h1 data-aos="fade-zoom-in" data-aos-delay="200">Zona de <span class="text-gradient">Descargas</span></h1>
		<p class="instructions" data-aos="fade-right">
			Pagina web para descargar el launcher oficial de<code>kailand V</code>, gracias por preferirnos.<br />
			<strong>Nota:</strong> El proyecto es beta y aun sigue en desarrollo, si tienes dudas sobre el proyecto, no dudes en contactarnos en nuestro servidor de discord.
		</p>
		<ul role="list" class="link-card-grid">
			<Card
				title="Instalador"
				body="Descarga el launcher oficial de kailand V, en su version instalador."
                animation='fade-right'
				typetarget='_self'
				id='instalador'
			/>
			<Card
				title="Comprimido"
				body="Descarga aqui el launcher oficial de kailand V, en su version zip. No es instalador, es el ejecutable del launcher para windows."
                animation='fade-left'
				typetarget='_self'
				id='comprimido'
			/>
			<Card
				title='Linux'
				body='Esta es la version para linux de 64 bits, no es instalador, es descargar y ejecutar.'
                animation='fade-up'
				typetarget='_self'
				id='linux'
			/>
		</ul>
		<h3 data-aos="fade-right" data-aos-delay="200" style="margin-top: 100px" class="font-bold text-2xl my-6" id="smartscreen">
			驴Por qu茅 aparece una advertencia de SmartScreen al instalar nuestro Launcher de Minecraft?
		</h3>
		<p data-aos="fade-zoom-in" data-aos-delay="200">

			Al intentar instalar nuestro Launcher de Minecraft en Windows,
			es posible que veas una advertencia de SmartScreen. Esto sucede
			porque nuestro software no est谩 firmado con un certificado de firma
			de c贸digo EV emitido por una autoridad de certificaci贸n reconocida,
			dado los elevados precios para obtener un certificado EV, por el
			momento solo tenemos certificado autofirmado el cual garantiza la
			integridad del codigo y te aseguras que estas descargando el software
			oficial de kailand V. Sin embargo, queremos asegurarte que nuestro
			software es completamente seguro y de codigo abierto por si quieres
			ver el codigo en <a href="https://github.com/GatoArtStudios/kailand" class="no-decorect"> github </a>.
		</p>
		<h3 data-aos="fade-right" data-aos-delay="200" class="font-bold text-2xl my-6" id="smartscreen">
			驴Qu茅 es SmartScreen?
		</h3>
		<p data-aos="fade-zoom-in" data-aos-delay="200">
			SmartScreen es una funci贸n de seguridad en Windows que ayuda a proteger tu PC
			de aplicaciones no reconocidas, lo cual aplicaciones con certificado de c贸digo
			EV son las unicas aplicaciones que no les saltara la advertencia de SmartScreen.
			Como nuestro Launcher es un software de c贸digo abierto y autofirmado, Windows no lo
			reconoce autom谩ticamente, lo que genera esta advertencia.
		</p>
		<h3 data-aos="fade-right" data-aos-delay="200" class="font-bold text-2xl my-6">
			驴C贸mo puedo proceder con la instalaci贸n de manera segura?
		</h3>
		<p>
			<li data-aos="fade-zoom-in" data-aos-delay="200">
				<b>Descargar el archivo:</b> Descarga el archivo de instalaci贸n desde nuestro sitio <a href="https://www.kailand.es" class="no-decorect">web</a>.
			</li>
			<li data-aos="fade-zoom-in" data-aos-delay="200">
				<b>Ir a Downloads:</b> una ves dentro del apartado de descarga, si eres usuario de windows debes descargar el Instalado.
			</li>
			<li data-aos="fade-zoom-in" data-aos-delay="200">
				<b>Ejecutar el instalador:</b> Haz doble clic en el archivo descargado para iniciar el instalador.
			</li>
			<li data-aos="fade-zoom-in" data-aos-delay="200">
				<b>Superar la advertencia de SmartScreen:</b>
				<ul>
					<li>- Aparecer谩 una advertencia diciendo "Windows protegi贸 tu PC".</li>
					<li>- Haz clic en "M谩s informaci贸n".</li>
					<li>- Luego, haz clic en "Ejecutar de todas formas".</li>
				</ul>
			</li>
		</p>
		<h3 data-aos="fade-right" data-aos-delay="200" class="font-bold text-2xl my-6">
			驴Es seguro proceder?
		</h3>
		<p data-aos="fade-zoom-in" data-aos-delay="200">
			S铆, es seguro proceder si descargaste el archivo desde nuestro sitio web oficial. Nuestro software ha sido verificado.
			Si tienes alguna duda o pregunta, no dudes en contactarnos a trav茅s de nuestra servidor de
			<a href="https://www.kailand.es/discord" class="no-decorect">discord</a> para soporte.
		</p>
		<div id='requisitos'>
			<h3 data-aos="fade-right" data-aos-delay="200" class="font-bold text-2xl my-6">
				Requisitos del sistema
			</h3>
			<h2 data-aos="fade-right" data-aos-delay="200" class="font-bold text-xl my-6">
				Minimo:
			</h2>
			<p data-aos="fade-zoom-in" data-aos-delay="200">
				- <b>CPU:</b> Intel Core i5-2500K o AMD FX-6300 (Escritorio) <br>
				- <b>RAM:</b> 8 GB ( 4 GB de RAM minimo asignado para Minecraft )<br>
				- <b>GPU:</b> NVIDIA GeForce GTX 660 o AMD Radeon HD 7850 con 2 GB de VRAM<br>
				- <b>Almacenamiento:</b> SSD con al menos 10 GB de espacio libre para el juego y los mods (Menos imposible, ya que con 8Gb de ram el sistema usara almacenamiento del disco como memoria RAM SWAP)<br>
				- <b>Sistema Operativo:</b> Windows 10 (64 bits) o equivalente en Linux/macOS (Solo 64 bits como minimo)<br>
			</p>
			<h2 data-aos="fade-right" data-aos-delay="200" class="font-bold text-xl my-6">
				Recomendado:
			</h2>
			<p data-aos="fade-zoom-in" data-aos-delay="200">
				- <b>CPU:</b> Intel Core i7-4770K o AMD Ryzen 5 1600 (Escritorio)<br>
				- <b>RAM:</b> 16 GB (dedicar al menos 8 GB de RAM para Minecraft)<br>
				- <b>GPU:</b> NVIDIA GeForce GTX 1060 o AMD Radeon RX 580 con 4 GB de VRAM<br>
				- <b>Almacenamiento:</b> SSD con al menos 10 GB de espacio libre<br>
				- <b>Sistema Operativo:</b> Windows 10 (64 bits) o equivalente en Linux/macOS<br>
			</p>
		</div>

        <script is:inline src="https://unpkg.com/aos@next/dist/aos.js"></script>
		<script src="../js/main.js"> </script>
	</main>
</Layout>
<script>
	document.addEventListener('DOMContentLoaded', () => {
		const bi = document.getElementById('instalador');
		const bc = document.getElementById('comprimido');
		const bl = document.getElementById('linux');
		const modal = document.getElementById('modal');
		const url_download = document.getElementById('link_descargar');
		const modal_policies = document.getElementById('modal_policies');
		const href_avalide = ['Instalador', 'Comprimido', 'Linux']
		const link_avaliable = document.getElementById('link_avaliable');

		const showModal = (href: string) => {
			if (modal_policies) {
				if (modal_policies.classList.contains('hidden')) {
					modal_policies.classList.remove('hidden');
					for (let i = 0; i < href_avalide.length; i++) {
						try {
							url_download?.classList.remove(href_avalide[i])
						} catch (error) { }
					}
					url_download?.classList.add(href)
				} else {
					modal_policies.classList.add('hidden');
					for (let i = 0; i < href_avalide.length; i++) {
						try {
							url_download?.classList.remove(href_avalide[i])
						} catch (error) { }
					}
				}
			}
		}
		const hiddenModal = () => {
			if (modal_policies) {
				if (modal_policies.classList.contains('hidden')) {
					modal_policies.classList.remove('hidden');
				} else {
					modal_policies.classList.add('hidden');
				}
			}
		}

		bi?.addEventListener('click', () => {
			showModal('Instalador')
			console.log('Boton clickeado')
		});
		bc?.addEventListener('click', () => {
			showModal('Comprimido')
			console.log('Boton clickeado')
		});
		bl?.addEventListener('click', () => {
			showModal('Linux')
			console.log('Boton clickeado')
		});
		link_avaliable?.addEventListener('click', () => {
			if (link_avaliable?.classList.contains('avaliable')) {
				window.location.href = "#smartscreen"
				if (url_download?.classList.contains('Instalador')) {
					window.open('https://github.com/GatoArtStudios/kailand/releases/download/v2.0.1.3/Kailand-Installer.exe', '_blank')
					hiddenModal()
				} else if (url_download?.classList.contains('Comprimido')) {
					window.open('https://github.com/GatoArtStudios/kailand/releases/download/v2.0.1.3/Kailand-Windows-64.zip', '_blank')
					hiddenModal()
				} else if (url_download?.classList.contains('Linux')) {
					window.open('https://github.com/GatoArtStudios/kailand/releases/download/v2.0.1.3/kailand-linux-2-0-1-3.tar.gz', '_blank')
					hiddenModal()
				}
			}
		})
	})
</script>
<style>
	main {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}
	.astro-a {
		position: absolute;
		top: -32px;
		left: 50%;
		transform: translatex(-50%);
		width: 220px;
		height: auto;
		z-index: -1;
	}
	h1 {
		font-size: 4rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
		margin-bottom: 1em;
		text-shadow: 0 0 50px rgba(0, 255, 0, 0.5);
	}
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
	.instructions {
		margin-bottom: 2rem;
		border: 1px solid rgba(var(--accent-light), 25%);
		background: linear-gradient(
			217deg,
			rgb(9, 212, 9),
			rgba(255, 0, 0, 0) 70.71%),
			linear-gradient(127deg, rgb(49, 172, 33), rgba(0, 255, 0, 0) 70.71%),
			linear-gradient(336deg, rgb(16, 49, 14), rgba(0, 0, 255, 0) 70.71%);
		padding: 1.5rem;
		border-radius: 8px;
		box-shadow: 0 5px 20px rgba(31, 255, 1, 0.226);
	}
	.instructions code {
		font-size: 0.8em;
		font-weight: bold;
		background: rgba(var(--accent-light), 12%);
		color: rgb(var(--accent-light));
		border-radius: 4px;
		padding: 0.3em 0.4em;
	}
	.instructions strong {
		color: rgb(var(--accent-light));
	}
	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 2rem;
		padding: 0;
	}
	.no-decorect {
		text-decoration: none;
		color: rgb(0, 247, 255);
	}
</style>
