---
import Layout from '../layouts/Contact.astro';
import NavBar from '../components/NavBar.astro';
import ParLeft from '../components/react/ParLeft';
import SubTitleWiki from '../components/react/SubTitleWiki';
---
<Layout url='https://www.kailand.es/policies' title="Kailand: Políticas de privacidad" description="Políticas de privacidad de Kailand">
    <NavBar />
    <main class="text-white flex flex-col items-center">
        <div class="h-10"></div>
        <h1 class="text-3xl text-white text-center w-full" style="font-family: 'Anton', sans-serif">Políticas de privacidad de Kailand</h1>
        <div class="h-10"></div>
        <div class="w-10/12"  style="font-family: 'Roboto', sans-serif; font-size: 700; font-style: bold;">
            <ParLeft>
                La presente Política de Privacidad establece los términos en que Kailand usa y protege la información que es proporcionada por sus usuarios al momento de utilizar el sistema de registro y inicio de sesión del servidor de minecraft o su launcher. En Kailand estamos comprometidos con la seguridad de los datos de nuestros usuarios. Lo hacemos asegurando que sólo se empleará de acuerdo con los términos de este documento. Sin embargo, esta Política de Privacidad puede cambiar con el tiempo o ser actualizada por lo que le recomendamos y enfatizamos revisar continuamente esta página para asegurarse que está de acuerdo con dichos cambios.
            </ParLeft>
            <SubTitleWiki text="Información que es recogida" />
            <ParLeft>
                Nuestro launcher recoger la siguiente información: Nickname, que utilices como usuario dentro del juego.
            </ParLeft>
            <SubTitleWiki text="Información adicional sobre el servidor de Minecraft" />
            <ParLeft>
                Nuestro servidor no recopila ninguna información personal adicional de los jugadores. No almacenamos direcciones IP ni ningún otro dato proporcionado por el juego durante las conexiones a nuestro servidor de Minecraft. Toda la información recolectada es mínima y se utiliza únicamente para permitir la conexión del usuario y garantizar una experiencia de juego segura. Solo se almacena la contraseña utilizada en el plugin LoginSecurity, con altos estándares de seguridad de la industria, para proteger tu cuenta en modo offline.
            </ParLeft>
            <SubTitleWiki text="Protección contra ataques DDoS" />
            <ParLeft>
                En caso de un ataque DDoS (Denegación de Servicio Distribuido) contra nuestros servidores, se almacena la dirección IP de las máquinas involucradas en el ataque. Esta información es utilizada por un plugin de seguridad para bloquear conexiones futuras desde esas direcciones IP. Las IP recopiladas se almacenan en una base de datos protegida con estrictas medidas de seguridad y solo se proporcionarán a las autoridades competentes en caso de una orden judicial.
            </ParLeft>
            <SubTitleWiki text="Uso de la información recogida" />
            <ParLeft>
                Nuestro sitio web es un sitio estático, por lo cual no tiene Backend (pieza de software que gestiona la lógica del servidor y el almacenamiento de datos), ni mecánica para recolección de datos. El launcher está dirigida particularmente para mantener un registro de usuarios, la cual usa los estándares más altos de seguridad del sector del desarrollo de la informática.
            </ParLeft>
            <ParLeft>
                Kailand está altamente comprometido para cumplir con el compromiso de mantener su información segura. Usamos los sistemas más avanzados y los actualizamos constantemente para asegurarnos que no exista ningún acceso no autorizado.
            </ParLeft>
            <ParLeft>
                Kailand no venderá ningún tipo de información. Ni cederá, ni distribuirá la información que es recopilada sin su consentimiento, salvo que sea requerido por un juez con un orden judicial.
            </ParLeft>
            <ParLeft>
                Kailand se reserva el derecho de cambiar los términos de la presente Política de Privacidad en cualquier momento.
            </ParLeft>
            <ParLeft>
                Para cualquier pregunta o preocupación sobre esta Política de Privacidad, por favor contáctenos a <a class="text-blue-500 hover:text-blue-400 font-bold" href="mailto:kailandservidor@gmail.com">kailandservidor@gmail.com</a>
            </ParLeft>
        </div>
    </main>
</Layout>
<style>
    @import url('https://fonts.googleapis.com/css2?family=Anton&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
</style>