---
import Layout from '../layouts/Contact.astro';
import NavBar from '../components/NavBar.astro';
---
<Layout>
    <NavBar />
    <main>
        <div class="h-10"></div>
        <h1 class="text-3xl font-semibold text-white text-center w-full">Politicas de privacidad de Kailand</h1>
        <div class="h-10"></div>
    </main>
</Layout>