---
---

<div class="bg-green-500 bg-transparent h-14 w-full text-end content-center fixed top-0 left-0 mr-52">
    <a href="/" class="text-white no-underline mr-5 font-bold">Inicio</a>
    <a href="/redes" class="text-white no-underline mr-5 font-bold">Redes</a>
    <a href="/downloads" class="text-white no-underline mr-5 font-bold">Downloads</a>
</div>