---
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta property="og:title" content="Descubre Kailand: Todas las redes de Kailand">
		<meta property="og:description" content="Únete a Kailand, un servidor público de Minecraft desarrollado profesionalmente para ofrecerte una experiencia única y emocionante.">
		<meta property="og:image" content="https://raw.githubusercontent.com/GatoArtStudios/kailand/web/public/KLZ.gif">
		<meta property="og:url" content="https://www.kailand.es/redes">
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/png" href="https://raw.githubusercontent.com/GatoArtStudios/kailand/web/public/favicon.png" />
		<meta name="generator" content={Astro.generator} />
		<!-- <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" /> -->
	</head>
	<body>
		<img src="https://raw.githubusercontent.com/GatoArtStudios/kailand/web/public/background_web%202.gif" alt="" class="photo_bg" data-aos="fade-zoom-in" data-aos-delay="200">
		<slot />
		<script is:inline src="https://unpkg.com/aos@next/dist/aos.js"></script>
		<div style="text-align: center">
			<span class="logo mt-10">
				© 2024 Kailand. All rights reserved
			</span>
		</div>
	</body>
</html>
<style is:global>
	:root {
		--accent: 0, 255, 0;
		--accent-light: 224, 204, 250;
		--accent-dark: 0, 130, 0;
		--accent-gradient: linear-gradient(
			45deg,
			rgb(var(--accent)),
			rgb(var(--accent-light)) 30%,
			white 60%
		);
	}
	html {
		font-family: system-ui, sans-serif;
		background: #13151a;
		background-size: 224px;
	}
	code {
		font-family:
			Menlo,
			Monaco,
			Lucida Console,
			Liberation Mono,
			DejaVu Sans Mono,
			Bitstream Vera Sans Mono,
			Courier New,
			monospace;
	}
	.photo_bg {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
		z-index: -1;
		mask-image: linear-gradient(black 5%, transparent 40%);
	}
	slot {
		z-index: 1;
	}
	.logo {
		color: rgba(255, 255, 255, 0.5);
		margin-bottom: 40px;
		display: inline-block;
		text-shadow: 0 0 50px rgb(0, 255, 0);
	}
</style>
